$base-color: white;
$color: rgba(black, 0.88);
$plant-green: rgb(0, 148, 0);

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

body{
    background-color: $base-color;
    color: $color;
    font-family: 'DM Sans', sans-serif;
}

span {
    white-space: pre-wrap;
}

.Plantas{
    display: none;
}

.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 1rem;
}

.Navbar_button{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background-color: white;

    width: 600px;
    max-width: calc(15%);
    min-height: 3.5rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px black;
    border: none;
    border-radius: 100px;
    
    transition: transform .5s, background-color .3s;
}

.Navbar_button:hover{
    transform: scale(1.1);
    background-color: $plant-green;
    color: white;
}

.Navbar_button:active{
    background-color: $plant-green;
    color: white;
    transform: scale(1);
}

.plantData{
    padding: 3rem;
}

.plantData_title{
    font-size: 3rem;
}

.plantData_list{
    font-size: 1.25rem;
}

.loading {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    padding: 5rem 0;
}

@media only screen and (max-width: 1080px) {
    .plantData_title{
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        font-size: 2rem;
    }

    .plantData_list{
        font-size: 1rem;
    }

    .Plantas{
        display: block;
        padding-top: 1.5rem;
        font-size: 3rem;
        text-justify: center;
        text-align: center;
    }
    .Navbar_button span{
        display: none;
    }
    .Navbar_button:hover{
        transform: scale(1);
        background-color: $plant-green;
        color: white;
    }
    
    .Navbar_button:active{
        background-color: $plant-green;
        color: white;
        transform: scale(0.9);
    }

    .loading {
        font-size: 3rem;
        text-justify: center;
        text-align: center;
    }
}
