$base-color: white;
$color: rgba(black, 0.88);
$plant-green: rgb(0, 134, 0);

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

body{
    background-color: $base-color;
    color: $color;
    font-family: 'DM Sans', sans-serif;
}

span {
    white-space: pre-wrap;
}

.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 1rem;
}

.Navbar_button{

    width: 600px;
    max-width: calc(15%);
    min-height: 3.5rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px black;
    border: none;
    border-radius: 100px;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    transition: transform .5s, background-color .3s;
}

.Navbar_button:hover{
    transform: scale(1.1);
    background-color: $plant-green;
    color: white;
}

.Navbar_button:active{
    background-color: $plant-green;
    color: white;
    transform: scale(1);
}

.warning {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    padding: 0 10%;
}

@media only screen and (max-width: 890px) {
    .Navbar_button span{
        display: none;
    }
    .Navbar_button:hover{
        transform: scale(1);
    }
    
    .Navbar_button:active{
        transform: scale(0.9);
    }

    .warning {
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
    }
}
